
/*
.roi-select-seq-strings-ul {
  list-style: none;
}
*/

.roi-select-seq-strings-ol {
  text-align: left;
  word-wrap: "break-word";
  font-family: "Courier New";
  font-size: 15px;
  font-weight: normal;

}

